IOT/nodered/flow.json
[
    {
        "id": "6fb474a3.b7a534",
        "type": "tab",
        "label": "Workshop",
        "disabled": false,
        "info": ""
    },
    {
        "id": "69d642f8.3e84bc",
        "type": "mongodb out",
        "z": "6fb474a3.b7a534",
        "mongodb": "abcb5afa.5257b8",
        "name": "",
        "collection": "RawData",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "ee6f587f.ea68a",
        "type": "inject",
        "z": "6fb474a3.b7a534",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "26a0f24b.b69f1e",
                "a49be4e0.faab2",
                "60a5118f.3a0ca8",
                "49262573.a98f54",
                "56e9e7b6.345948"
            ]
        ]
    },
    {
        "id": "26a0f24b.b69f1e",
        "type": "random",
        "z": "6fb474a3.b7a534",
        "name": "Temperature",
        "low": "-100",
        "high": "100",
        "inte": "false",
        "property": "payload",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "19bc5153.1ee33f"
            ]
        ]
    },
    {
        "id": "a49be4e0.faab2",
        "type": "random",
        "z": "6fb474a3.b7a534",
        "name": "Humidity",
        "low": "0",
        "high": "100",
        "inte": "false",
        "property": "payload",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "19bc5153.1ee33f"
            ]
        ]
    },
    {
        "id": "60a5118f.3a0ca8",
        "type": "random",
        "z": "6fb474a3.b7a534",
        "name": "C02",
        "low": "0",
        "high": "5000",
        "inte": "true",
        "property": "payload",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "19bc5153.1ee33f"
            ]
        ]
    },
    {
        "id": "49262573.a98f54",
        "type": "random",
        "z": "6fb474a3.b7a534",
        "name": "PM2.5",
        "low": "0",
        "high": "500",
        "inte": "true",
        "property": "payload",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "19bc5153.1ee33f"
            ]
        ]
    },
    {
        "id": "816cc55b.9dce6",
        "type": "debug",
        "z": "6fb474a3.b7a534",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "c9f9c99e.7c141",
        "type": "function",
        "z": "6fb474a3.b7a534",
        "name": "Format Data (fake)",
        "func": "var currentdate = new Date().getTime();\nvar pl = msg.payload;\nconsole.log(msg)\n    var newMsg = {\n        payload: {\n            \"sensorID\" : pl[4],\n            \"time\" : currentdate, \n            \"temp\" :  pl[0].toFixed(2),\n            \"humidity\" :  pl[1].toFixed(2),\n            \"C02\" :  pl[2],\n            \"PM25\":pl[3],\n        }\n    };\nconsole.log(newMsg);\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 120,
        "wires": [
            [
                "2a4639ed.39f33e",
                "816cc55b.9dce6"
            ]
        ]
    },
    {
        "id": "19bc5153.1ee33f",
        "type": "join",
        "z": "6fb474a3.b7a534",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "c9f9c99e.7c141"
            ]
        ]
    },
    {
        "id": "56e9e7b6.345948",
        "type": "file in",
        "z": "6fb474a3.b7a534",
        "name": "Read file",
        "filename": "/home/ubuntu/.node-red/sensorids.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "d09f005.989008"
            ]
        ]
    },
    {
        "id": "d09f005.989008",
        "type": "function",
        "z": "6fb474a3.b7a534",
        "name": "Get random sensor id",
        "func": "var textByLine = msg.payload.split(\"\\n\")\n\nmsg.payload = textByLine[Math.floor(Math.random() * textByLine.length)]\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "19bc5153.1ee33f"
            ]
        ]
    },
    {
        "id": "ed88fc90.40692",
        "type": "mqtt in",
        "z": "6fb474a3.b7a534",
        "name": "",
        "topic": "ConnectedCity",
        "qos": "2",
        "datatype": "auto",
        "broker": "4902451c.f93f3c",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "807f7d39.cb9978"
            ]
        ]
    },
    {
        "id": "e95fe7bf.580ab",
        "type": "debug",
        "z": "6fb474a3.b7a534",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "92e43d9b.665e9",
        "type": "mqtt out",
        "z": "6fb474a3.b7a534",
        "name": "",
        "topic": "ConnectedCity/dbb500af-8c53-488a-a64a-04b4618b503b",
        "qos": "2",
        "retain": "false",
        "broker": "4902451c.f93f3c",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "1064a0b1.adbc67",
        "type": "inject",
        "z": "6fb474a3.b7a534",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "4b356c59.b25bac",
        "type": "random",
        "z": "6fb474a3.b7a534",
        "name": "",
        "low": "-100",
        "high": "100",
        "inte": "false",
        "property": "payload",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "92e43d9b.665e9"
            ]
        ]
    },
    {
        "id": "fdfcdbd5.cf1f58",
        "type": "mqtt in",
        "z": "6fb474a3.b7a534",
        "name": "",
        "topic": "ConnectedCity/dbb500af-8c53-488a-a64a-04b4618b503b",
        "qos": "2",
        "datatype": "auto",
        "broker": "4902451c.f93f3c",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "e95fe7bf.580ab"
            ]
        ]
    },
    {
        "id": "807f7d39.cb9978",
        "type": "json",
        "z": "6fb474a3.b7a534",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "df77e63b.550b68"
            ]
        ]
    },
    {
        "id": "25457914.4f42a6",
        "type": "debug",
        "z": "6fb474a3.b7a534",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "df77e63b.550b68",
        "type": "function",
        "z": "6fb474a3.b7a534",
        "name": "Format Data (real)",
        "func": "var currentdate = new Date().getTime();\nvar pl = msg.payload;\nconsole.log(msg)\n    var newMsg = {\n        payload: {\n            \"sensorID\" : pl.sensorID,\n            \"time\" : currentdate, \n            \"temp\" :  pl.temp,\n            \"humidity\" :  pl.humidity,\n            \"C02\" :  pl.C02,\n            \"PM25\":pl.PM25,\n        }\n    };\nconsole.log(newMsg);\nreturn newMsg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 490,
        "y": 360,
        "wires": [
            [
                "25457914.4f42a6",
                "69d642f8.3e84bc"
            ]
        ]
    },
    {
        "id": "2a4639ed.39f33e",
        "type": "mqtt out",
        "z": "6fb474a3.b7a534",
        "name": "",
        "topic": "ConnectedCity",
        "qos": "2",
        "retain": "",
        "broker": "4902451c.f93f3c",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "dbe3a713.93e308",
        "type": "comment",
        "z": "6fb474a3.b7a534",
        "name": "Fake Generation",
        "info": "",
        "x": 140,
        "y": 100,
        "wires": []
    },
    {
        "id": "812bf5dd.ced738",
        "type": "comment",
        "z": "6fb474a3.b7a534",
        "name": "Mqtt Reception",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "25c94990.4c7c96",
        "type": "comment",
        "z": "6fb474a3.b7a534",
        "name": "Send Alerts",
        "info": "",
        "x": 130,
        "y": 460,
        "wires": []
    },
    {
        "id": "abcb5afa.5257b8",
        "type": "mongodb",
        "z": "",
        "hostname": "connectedcity.6pspi.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "ConnectedCity",
        "name": ""
    },
    {
        "id": "4902451c.f93f3c",
        "type": "mqtt-broker",
        "z": "",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]